<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mapa - Mapa da Cidade</title>

    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    >

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/mapa.css') }}"
    >
</head>

<body>
    
    <div id="mapa"></div>


    <!-- JavaScript do Leaflet -->
    <script
        src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js">
    </script>

    <!-- Nosso JavaScript -->
    <script
        src="{{ url_for('static', filename='js/mapa.js') }}">
    </script>

</body>

</html>