<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mapa - FalaCidade</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/mapa.css') }}">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">

</head>

<body>

    <header class="header">

        <div class="logo">
            FalaCidade
        </div>

        <nav class="menu">

            <a href="/">Início</a>

            <a href="/mapa">Mapa</a>

            <a href="/obras">Obras</a>

            <a href="/relatar">Relatar problema</a>

            <a href="/solicitacoes">Minhas solicitações</a>

            {% if session.get("usuario_id") %}

                {% if session.get("usuario_perfil") == "admin" %}
                    <a href="/admin">
                        Administração
                    </a>
                {% endif %}

                <span class="usuario">
                    Olá, {{ session.get("usuario_nome") }}
                </span>

                <a href="/logout">
                    Sair
                </a>

            {% else %}

                <a href="/login">
                    Entrar
                </a>

            {% endif %}

        </nav>

    </header>


    <main>

        <button id="botao-filtros" class="botao-filtros">
            &#9776; Filtrar mapa
        </button>

        <div id="painel-filtros" class="painel-filtros">

            <label for="filtro-status">
                Status
            </label>

            <select id="filtro-status">

                <option value="todos">
                    Todos
                </option>

                <option value="Em andamento">
                    &#128309; Em andamento
                </option>

                <option value="Concluída">
                    &#x1F7E2; Concluída
                </option>

                <option value="Cancelado">
                    &#128308; Cancelada
                </option>

                <option value="Em análise">
                    &#x1F7E1; Em análise
                </option>

            </select>

        </div>

        <div id="mapa"></div>

    </main>


    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <script src="{{ url_for('static', filename='js/mapa.js') }}"></script>

</body>

</html>
